* {
    box-sizing: border-box;
}

:root{
--background: #F5F7FB;
--font-color: #293264;
--buttons: #4D5B9E;
}

html, body, #root {
    margin:0;
    font-family: 'Karla', 'Inter', sans-serif;
    height: 100%;
    width: 100%;
}

main{
  min-height: 100%;
  width: 100%;
  background: var(--background);
  color: var(--font-color);
    display: grid;
  place-items: center;
  position: relative;
}

#yellow-blob{
    position: absolute;
    right: 0;
    top: 0;
    width: 20vw;
}

#blue-blob{
    position: absolute;
    left:0;
    bottom: 0;
    width: 20vw;
}



